<app-header titulo="Perfil"></app-header>
<ion-content>
    <ion-card>
        <img alt="Silhouette of mountains" src="https://i.ibb.co/kypKfhq/asddddddddddddddder-icons.png"/>
        <ion-card-header>
          <ion-card-title>Marco Eleazar Gregorio Mamani</ion-card-title>

          
        </ion-card-header>
      
        <ion-list [inset]="true">
            <ion-item>
              <ion-label>RUT: 17830240k</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de Nacimiento: 31 Enero 1991</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Email: marco.gregorio.mamani@cftmail.cl</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Celular: +56956880470</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Establecimiento: CFT ESTATAL ARICA Y PARINACOTA</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Dirección: Bariloche #23990, Arica</ion-label>
              </ion-item>
          </ion-list>
      </ion-card>
</ion-content>
