<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="Salir"
      mode="ios"
      >

      </ion-back-button>
    </ion-buttons>

    <ion-title>menuprincipal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button routerLink="/salasylaboratorios">Salas y Laboratorios</ion-button>
<ion-button routerLink="/tomarsalalab">Tomar sala/lab</ion-button>
<ion-button routerLink="/desocuparsalalab">Desocupar sala/lab</ion-button>
<ion-button routerLink="/perfil">Perfil</ion-button>
<ion-button routerLink="/configuracion">Configuración</ion-button>
</ion-content>
