<ion-header>
  <ion-toolbar>

    <ion-title> Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item
    *ngFor="let componente of componentes"
    [routerLink]="componente.direccion"
    >
    <ion-icon [name]="componente.icono" slot="start" color="secondary"></ion-icon>
    {{componente.nombre}}
  </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
    <ion-fab-button routerLink="/iniciosesion">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>